body {
	background-color:#F0E9D7;
	text-align: center;
}

h2 {
	font-size: 180%;
	font-family: sans-serif;
}

.form-control {
	height: 50px;
	width: 160px;
	margin: 10px auto;
}

button {
    align-items: flex-start;
    text-align: center;
}

.btn {
	text-align: center;
    vertical-align: middle;
	margin-bottom: 10px;
}

.page-header {
	border-bottom: 0px;
}

h3 {
	font-size: 400%;
	font-weight: 900;
}

#you-lose {
	font-family:sans-serif;
	color: red;
	font-size: 400;
	font-weight: 900;
}

.page-footer {
	color:dimgray;
}

